.line{
    display: inline-block;
    width: 100%;
    >.line-left{
        display: inline-block;
        width: 50%;
        text-align: left;
    }
    >.line-right{
        vertical-align: top;
        display: inline-block;
        width: 50%;
        text-align: right;
    }
}