.arrow-button{
    border: none;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    >.button-description{
        display: block;
        margin: 0;
        visibility: hidden;
        position: relative;
        opacity: 0;
        transition: left 1s, right 1s, opacity 1s;
        text-shadow: -1px -1px 0 #000, 
                    1px -1px 0 #000, 
                    -1px  1px 0 #000, 
                    1px  1px 0 #000;
        &.left{
            right: -20px;
        }
        &.right{
            left: -20px;
        }
    }
    >.double-caret{
        position: relative;
        &.left{
            right: 0;
        }
        &.right{
            left: 0;
        }
        transition: left 1s, right 1s;
    }
    &:hover{
        >.double-caret{
            &.left{
                right: 10px;
            }
            &.right{
                left: 10px;
            }
        }
        >.button-description{
            &.left{
                right: 0;
            }
            &.right{
                left: 0;
            }
            opacity: 1;
            visibility: visible;
        }
    }
}

@media screen and (max-width: 600px) {
    .arrow-button{
        >.button-description{
            left: 0;
            opacity: 1;
            visibility: visible;
        }
    }
}