.toetcie-project-intro{
    .toetcie-project-intro-illustration{
        //scale = (perspective - distance) / perspective
        // transform: translateZ(25px) translateX(calc((-50% / 2) - 1.5%)) scale(0.5);
        max-width: 1175px;
        width: 60%;
        clip-path: circle(50%);
    }
}

@media (max-width: 599px) {
    .toetcie-project-intro{
        .toetcie-project-intro-illustration{
            transform: none;
        }
    }
}