.bubble-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: clip-path 1s;
    >.bubble{
        position: absolute;
        cursor: pointer;
        transition: visibility .5s, opacity .5s, left 1s, top 1s;
        opacity: 1;
        visibility: visible;
        >.bubble-content{
            position: absolute;
            top: 47%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    >.expanded-content{
        transition: opacity .5s, top .5s;
        opacity: 0;
        >.expanded-content-page{
            position: relative;
            top: 10px;
            transition: top .5s;
        }
    }
}