.portfolio-box{
    width: 100%;
    overflow: auto;
    >.portfolio-box-content{
        white-space: nowrap;
        >*{
            margin-left: 20px;
        }
    }
}

@media (max-width: 599px) {
    .portfolio-box {
        >.portfolio-box-content{
            white-space: unset;
        }
    }
}