.index-footer{
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 2em;
    >*{
        margin-right: 20px;
    }
    >*:last-child{
        margin-right: 0;
    }
    >a{
        transition: color .5s;
        &:hover{
            &.linkedin{
                color: #2867b2;
            }
            &.github{
                color: #6cc644;
            }
            &.email{
                color: #bd2c00;
            }
        }
    }
}