.project-section{
    margin: 0 3%;
    margin-bottom: 50px;
    >h2{
        margin-bottom: 0;
    }
    >.project-section-content{
        text-align: left;
        position: relative;
        background-color: var(--color-indigo-white);
        border-radius: 5px;
        padding: 20px;
        >*{
            vertical-align: top;
        }
        >.project-section-text{
            display: inline-block;
            width: calc(50% - 20px);
            margin-right: 20px;
            p{
                margin-top: 0;
            }
        }
        >.project-section-media{
            display: inline-block;
            width: 50%;
        }
    }
}

@media (max-width: 599px) {
    .project-section {
        margin: 0;
        >h2{
            margin-left: 3%;
        }
        >.project-section-content{
            border-radius: 0;
            >.project-section-text{
                width: 100%;
                margin-right: 0;
            }
            >.project-section-media{
                width: 100%;
            }
        }
    }
}