.projets{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    perspective: 50px;

    overflow-x : hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    ::-webkit-scrollbar {
        display: none;
    }
}