.project-line{
    >.project-details{
        display: inline-block;
        width: 50%;
    }
    >.project-illustration{
        display: inline-block;
        width: 50%;
    }
}

@media (max-width: 599px) {
    .project-line {
        >.project-details{
            width: 100%;
        }
    }
}