.project-section{
    margin-bottom: 50px;
    >h2{
        margin-left: 3%;
        margin-bottom: 0;
    }
    >.project-section-detector{
        position: absolute;
        top: 50vh;
    }
    >.project-section-content{
        padding: 5% 3%;
        background-color: var(--color-indigo-white);
        background: linear-gradient(white, 
            var(--color-indigo-white) 3px);
    }
}

@media (max-width: 599px) {
    .project-section {
        >.project-section-content{
            >.project-section-text{
                width: 100%;
                margin-right: 0;
            }
            >.project-section-media{
                width: 100%;
            }
        }
    }
}