.about-me{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: left .5s, right .5s;
    overflow-x: hidden;
    overflow-y: auto;
    >.about-me-picture{
        position: absolute;
        top: 0;
        left: 0;

        max-width: 1500px;
        width: 50%;

        opacity: 1;
        transition: opacity .5s, top .5s, left .5s;
        &.hidden{
            opacity : 0;
            top: -100vh;
        }
    }
    >.about-me-text{
        position: absolute;
        // block width = 100vw - 9% - 150px = 100vw - 9vw - 150px
        // image width = 1/2 block width
        // image height = 2/3 image width
        // image height = 0.33 * (vw - 0.09vw - 150px)
        // = 0.33 * (91vw - 150px)
        top: calc(50vh - 116px - 30px - 64px);
        left: 33%;

        width: calc(65% - 40px);
        padding: 20px;
        background-color: white;
        color: black;

        text-align: justify;

        opacity: 1;
        transition: opacity .5s, left .5s;
        &.hidden{
            opacity : 0;
            left: 100vw;
        }
        >.quote{
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 599px) {
    .about-me{
        &.hidden{
            left: -100vw;
            right: 100vw;
        }
        >.about-me-picture{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            &.hidden{
                top: 0;
                left: -100vw;
            }
        }
        >.about-me-text{
            position: relative;
            top: 0;
            left: 0;
            width: calc(100% - 40px);
        }
    }
}