.portfolio-entry{
    display: inline-block;
    height: 200px;
    border: 1px solid;
    font-size: 0;
    position: relative;
    &:hover{
        video{
            visibility: visible;
        }
    }
    img{
        display: block;
        height: 100%;
        object-fit: cover;
    }
    video{
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 599px) {
    .portfolio-entry {
        height: 100px;
    }
}