.index-presentation-text{
    width: 100%;
    position: relative;
    height: 100px;
    overflow: visible;
    >p{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        animation: index-presentation-text-anim 10s ease-in-out 0s infinite;
        font-size: 2em;
        width: 100%;
    }
    >.text-1{
        top: 0;
        opacity: 1;
    }
    >.text-2{
        top: -50%;
        opacity: 0;
        animation-delay: -5s;
    }
}

@keyframes index-presentation-text-anim{
    0%{
        top: 0;
        opacity: 1;
    }
    // Stays in the middle
    25%{
        top: 0;
        opacity: 1;
    }
    // Falls down to bottom
    50%{
        top: 50%;
        opacity: 0;
    }
    // Silently goes back to position
    75%{
        top: -50%;
        opacity: 0;
    }
    // Falls down to middle
    100%{
        top: 0%;
        opacity: 1;
    }
}