@import './colors.scss';
@import './fonts.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Timeless, serif;
  background-color: black;
  color: var(--color-white);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  text-align: center;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

h1 {
    font-size: 6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Kiona, sans-serif;
    text-align: center;
}

h2{
    font-size: 3.5em;
}

h3{
    font-size: 2.5em;
}

h4{
    font-size: 1.6em;
}

p, ul{
    text-align: justify;
}

a {
    color : white;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

img{
    object-fit: cover;
    width: 100%;
}

@media (max-width: 599px) {
    h1 {
        font-size: 4em;
    }
    h2{
        font-size: 2.5em;
    }
}
