.contact-location{
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    color : var(--color-gold);
    >.contact-location-sizer{
        opacity: 0;
    }
    >.contact-location-values{
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        animation: contact-location-values-roulette 3s forwards;
    }
}

@keyframes contact-location-values-roulette {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}