.contact-links{
    margin: auto;
    margin-top: 20px;
    font-size: 40px;
    >.linkedin-link, >.github-link, >.email-link{
        display: inline-block;
        margin-top: 0;
        transform: perspective(100px) translateZ(0);
        transition: transform .5s;
        &:hover{
            transform: perspective(100px) translateZ(10px);
        }
    }
    >.linkedin-link, >.github-link{
        margin-right: 20px;
    }
}